---
layout: default
title: Homepage
---

<div id="menu-filler"></div>
<section id="about">
  <!-- preload images -->
  <img src="/assets/img/avatar.png" alt="Profile" class="preload">
  <div id="profile"></div>
</section>
<section id="musings">
  <div id="posts">
    <div id="home">
      <ul class="posts">
        <li itemscope itemtype="http://schema.org/BlogPosting">
          <div class="p-wrap" style="text-align: center">
            <article class="inner">
              MD/PhD student
              <br>
              University of Pittsburgh School of Medicine
            </article>
          </div>
        </li>
        {% comment %}
        {% for post in paginator.posts %}
        <li itemscope itemtype="http://schema.org/BlogPosting">
          <a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">
            <div class="p-wrap">
              <article class="inner">
                <time datetime="{{ post.date | date_to_xmlschema }}"
                    itemprop="datePublished">
                  {{ post.date | date_to_string }}
                </time>
                <p itemprop="name headline">{{ post.title }}</p>
              </article>
            </div>
          </a>
        </li>
        {% endfor %}
        {% endcomment %}
      </ul>
    </div>
  </div>
  <!-- <div class="subsection">
    <h3>Sample heading</h3>
    <div class="subsubsection">
      <h4>Sample heading</h4>
      <p>Sample text</p>
    </div>
  </div> -->
  <script src="https://3Dmol.org/build/3Dmol-min.js" async></script>
  <!--div style="height: 400px; width: 400px; margin: auto;" class='viewer_3Dmoljs' data-pdb='2BCT' data-backgroundcolor='#222' data-style='stick'></div-->
</section>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
  <a href="{{ site.baseurl }}/page/{{paginator.next_page}}" class="older">Older</a>
  {% else %}
  <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a href="{{ site.baseurl }}/" class="newer">Newer</a>
    {% else %}
    <a href="{{ site.baseurl }}/page/{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
  <span class="previous">Newer</span>
  {% endif %}
</div>
{% endif %}
