:root {
  --bg: #222;
	--bg2: #181818;
	--text: #b5b5b5;
	--link: #eee;
	--post-odd: #ccc;
	--post-even: #ddd;
}

body {
  position: relative;
	padding: 0;
	margin: 102px 0 0 0 ;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow-x: hidden;
	background: var(--bg);
	color: var(--text);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 4px solid #888;
  background: #ddd;
  text-align: center;
  margin-bottom: 50px;
  padding: 12px 0;
  box-shadow: 0 0 10px #000;

  h1 {
    margin: 0;
    padding: 0;
    font-size: smaller;
    a {
    	font-weight: 300;
      color: #444;
    }
  }
}

a {
	text-decoration: none;
	color: var(--link);
}

blockquote {
  border-left: 5px solid var(--link);
  background: var(--bg2);
  font-size: 0.9em;
  padding: 15px;
  line-height: 165%;
  margin: 0;

  p {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.preload {
	display: none;
}

.container {
	width: 1200px;
	max-width: 100%;
	margin: auto;
}

.spacer {
	margin: 15px;
}

.logo {
	text-align: center;

	svg {
		background: var(--bg2);
		width: 100px;
		margin: 10px auto;
		display: block;
		border-radius: 100%;
		border: 10px solid var(--bg2);
		fill: var(--link);
	}

	a {
		display: inline-block;
	}
}

section {
	padding-top: 10px;

  & > p {
    text-align: center;
    // padding: 15px;
    // background: var(--bg2);
    // border-radius: 5px;
  }

  a {
  	color: var(--link);
  	text-decoration: none;
  }

  a:hover {
  	text-decoration: underline;
  }
}

h2 {
	position: relative;
}

h4, h5 {
	font-weight: normal;
}

h1, h2 {
	text-align: center;
}

h2 {
	text-transform: uppercase;
	font-weight: 300;
}

h3 {
	border-bottom: 1px solid #ccc;
	font-weight: 300;
	margin-top: 50px;
}

h4 {
	margin-bottom: 10px;
}

h5 {
	margin-top: 0;
	margin-bottom: -10px;
}

h1, h2, h3, h4 {
	transition: .25s;
}

#menu {
	height: 46px;
	border-top: 10px solid var(--bg2);
	border-bottom: 10px solid var(--bg2);
	text-align: center;
	background: var(--bg2);
}

#menu .item {
	display: inline-block;
	padding: 2px 0;
}

#menu .item a {
	display: inline-block;
	text-decoration: none;
	font-weight: 300;
	text-transform: uppercase;
	color: var(--link);
	padding: 6px 25px;
	height: 26px;
	border-bottom: none
}

#menu .item a:hover {
	border-bottom: 4px solid var(--link);
}

#menu-filler {
	display: none;
	height: 48px;
}

#menu.fixed {
	top: 0;
	left: 0;
	border-top: none;
	border-bottom: none;
	position: fixed;
	z-index: 10;
	width: 100%;
	box-shadow: 0 0 5px #aaa;
}

#menu.fixed + #menu-filler {
	display: block;
}

#profile {
	height: 150px;
	width: 150px;
	margin: auto;
	border-radius: 100%;
	display: block;
	background-image: url('/assets/img/avatar.jpg');
	background-size: cover;
	border: 5px solid #888;
  box-shadow: 0 0 20px #111;
}

.gallery {
	 text-align: center;
}

.gallery img {
	max-height: 250px;
	max-width: 100%;
	margin: 15px;
	border: 4px solid #ccc;
	box-shadow: 0 0 15px #ccc;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	opacity: .75;
	transition: .5s;
}

.gallery img:hover {
	filter: none;
	-webkit-filter: none;
	opacity:1;
	transition: .5s;
}

.block {
	display: inline-block;
	width: 50%;
}

.block.right {
	float: right;
}

.clear {
	clear: both;
}

#posts {
	time {
		font-size: 0.75em;
	}
	a {
		text-decoration: none;
	}
	ul {
		list-style: none;
		padding-left: 0;
	}
	li {
		.p-wrap {
      border-radius: 5px;
			padding: 10px;
			color: var(--link);
			margin-bottom: 5px;
			p {
        font-family: 'Caveat';
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		a {
			color: var(--text);
		}
		a:hover {
			.p-wrap {
				background: var(--bg2);
			}
		}
	}
}

#social {
	text-align: center;
}

#social a {
	text-decoration: none;
	display: inline-block;
	margin: 10px;
	width: 50px;
	height: 50px;
	padding: 4px;
}

#social svg {
	color: var(--link);
	width: 40px;
	height: 40px;
	margin: 5px;
}

#social svg path {
	fill: #888;
}

#social a:hover {
  border-radius: 4px;
  svg path {
    fill: #333;
  }
}

#footer {
  border-top: 4px solid #888;
  background: #ddd;
	text-align: center;
	font-size: smaller;
	margin-top: 50px;
  box-shadow: 0 0 10px #000;

  section {
    color: #888;

    a {
      color: #000;
    }
  }
}

/* Media quries */

@media (max-width: 950px) {
	#menu .item .diamond {
		display: none;
	}
	#menu .item a {
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media (max-width: 750px) {
	#menu {
		padding: 10px 0;
		height: auto;
	}
	#menu.fixed {
		position: static;
		box-shadow: none;
		border-top: 1px solid var(--link);
		border-bottom: 1px solid var(--link);
	}
	#menu.fixed + #menu-filler {
		display: none;
	}
	#menu .item a {
		background: var(--bg2);
	}
	#menu .item a:hover {
		border-bottom: 1px solid var(--link);
	}
	.block {
		width: 100%;
	}
	.block.right {
		float: none;
	}
}
